.container
  .row{ id: block.anchor }
    -# FIXME bad guy mode ON
    - eval("@collection_#{block.anchor}").each do |item|
      .col-lg-4.col-md-12.mb-4
        .card
          .view.overlay.hm-white-slight
            = image_tag item.image, class: 'img-fluid'
          = link_to '#' do
            .mask
          .card-body
            %h4.card-title
              = item.title
            %p.card-text
              = item.description
            - if item.button.present?
              = link_to item.button.text, item.button.url, class: 'btn btn-primary'
