!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title
      = yield :application_name
    = stylesheet_link_tag    "tramway/landing/application", media: "all"
    = javascript_include_tag "tramway/landing/application"
    = csrf_meta_tags
    = yield :head_content
  %body
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.js'
    = javascript_include_tag 'https://cdn.rawgit.com/CezarLuiz0/anchor.js/master/dist/anchor.min.js'
    = render "tramway/landing/blocks/block_types/header", block: @blocks.header
    %main.mt-5
      .container
        - (@blocks - [@blocks.header] - [@blocks.footer]).each do |block|
          = render "tramway/landing/blocks/block_types/#{block.block_type}", block: block
    = render "tramway/landing/blocks/block_types/footer", block: @blocks.footer
